@model Vidly.Core.Domain.Movie
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="GenreId" class="control-label"></label>
            <select asp-for="GenreId" class="form-control" asp-items="ViewBag.Genres"></select>
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ReleaseDate" class="control-label"></label>
            <input asp-for="ReleaseDate" type="date" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DateAdded" class="control-label"></label>
            <input asp-for="DateAdded" type="date" class="form-control" />
            <span asp-validation-for="DateAdded" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InStock" class="control-label"></label>
            <input asp-for="InStock" class="form-control" />
            <span asp-validation-for="InStock" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{
        await Html.PartialAsync("_ValidationScriptsPartial");
    }
}